#root{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px, 1fr)) ;
    grid-row: 20px; 
}


.window{
    background-color: hotpink;
    width: 50%;
    height: 211px;
    display: flex;
}

#window{
    display: none;
} 