
 body{
     background: #E9ECF4;
 }

@media screen and (max-width: 524px){

/* fondo */
     header {
        background: grey;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
}

    .filter{
       width: 150px;
       margin: auto;
       position: relative;
       user-select: none;
       background: lightgray;
       cursor: pointer;
       padding: 10px 20px;
}
/* orden de los pokemones */

    .container .boxPokedex{
        width: 100%;
        display: grid;
        grid-gap: 12px;
        grid-template-columns:repeat(2,1fr) ;
        margin: 10px auto;
    } 

/* estilo caja pokemon */

    .pokedex {
        border-radius: 20px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 10px;
        text-align: center;
    }

    .container .footer{
        background:olive;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #window {
    
        background: rgba(33, 41, 52, .85);
        left: 0;
        bottom: 0;
        right: 0;
        top: 0; 
        display: flex;
        position: fixed;
        z-index: 999;
        display: none;
    }

    .search{
      align-items: center;

    }

    .imgType{
        width: 30px;
    }

    /* .typeQuantity{
        width: 100%;
    } */
}

@media screen and (min-width: 524px) and (max-width: 824px){

/* fondo */

        header {
        background: grey;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
}
    .filter{
       width: 250px;
       margin: auto;
       position: relative;
       user-select: none;
       background: lightgray;
       cursor: pointer;
       padding: 10px 20px;
}
  
/* orden de los pokemones */

 .container .boxPokedex{
    width: 90%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3,1fr) ;
    margin: 10px auto;
    } 

/* estilo caja pokemon */

    .pokedex {
        border-radius: 20px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 10px;
        text-align: center;
    }

    .container .footer{
        background:yellow;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #window {
    
        background: rgba(33, 41, 52, .85);
        left: 0;
        bottom: 0;
        right: 0;
        top: 0; 
        display: flex;
        position: fixed;
        z-index: 999;
        display: none;
    }


    .imgType{
        width: 40px;
    }

 }

 
    
 @media screen and (min-width: 824px) and (max-width:1240px) {

/* fondo */
         header {
        background: grey;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
}
  .filter{
       width: 350px;
       margin: auto;
       position: relative;
       user-select: none;
       background: lightgray;
       cursor: pointer;
       padding: 10px 20px;
}

/* orden de los pokemones */

    .container .boxPokedex{
        width: 80%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns:repeat(4,1fr) ;
        margin: 10px auto;   
    } 

/* estilo caja pokemon */

    .pokedex {
        border-radius: 20px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 10px;
        text-align: center;
    }

    .container .footer{
        background:grey;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #window {
    
        background: rgba(33, 41, 52, .85);
        left: 0;
        bottom: 0;
        right: 0;
        top: 0; 
        display: flex;
        position: fixed;
        z-index: 999;
        display: none;
    }

    .imgType{
        width: 45px;
    }
}

@media screen and (min-width: 1240px) {

    /* fondo */
             header {
            background: grey;
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
    }
      .filter{
           width: 350px;
           margin: auto;
           position: relative;
           user-select: none;
           background: lightgray;
           cursor: pointer;
           padding: 10px 20px;
    }
    
    /* orden de los pokemones */
    
        .container .boxPokedex{
            width: 80%;
            display: grid;
            grid-gap: 20px;
            grid-template-columns:repeat(5,1fr) ;
            margin: 10px auto;   
        } 
    
    /* estilo caja pokemon */
    
        .pokedex {
            border-radius: 20px;
            box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
            margin: 10px;
            text-align: center;
        }
    
        .container .footer{
            background:grey;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #window {
    
            background: rgba(33, 41, 52, .85);
            left: 0;
            bottom: 0;
            right: 0;
            top: 0; 
            display: flex;
            position: fixed;
            z-index: 999;
            display: none;
        }


        .imgType{
            width: 45px;
        }
    }
    
#window {
    display: none;
}